.popup__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0px 36px 48px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 540px) {
    .popup__description {
        margin: 0px 22px 45px;
    }
}