.popup__button-submit {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 2px;
    background-color: black;
    margin: 0px 36px 40px;
    padding: 14px 131px 17px;
}

.popup__button-submit:hover {
    opacity: 0.8;
    cursor: url('../../../images/cursor.svg'), pointer;
}

@media (max-width: 540px) {
    .popup__button-submit {
        margin: 0px 22px 25px;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
    }
}